<footer class="footer">
  <div class="subfooter">

    <div class="item-footer menu-footer">

      <p>Conócenos</p>

      <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>

    </div>

    <div class="item-footer social-footer">

      <p>Síguenos en Redes Sociales</p>

      <div class="iconos-redes">
        <span><a href="http://facebook.com/webmasperu" class="icon-facebook"></a></span>
        <span><a href="http://instagram.com/webmasperu" class="icon-instagram"></a></span>
        <span><a href="http://linkedin.com/company/webmasperu" class="icon-linkedin"></a></span>
      </div>

    </div>

    <div class="item-footer contacto-footer">

      <p>Contáctanos</p>

      <ul>
        <li><span class="icon-phone"></span>989077909</li>
        <li><span class="icon-envelope"></span><a href="mailto:ventas@webmas.pe">ventas@webmas.pe</a></li>
        <li><span class="icon-home"></span>Jr. Larco Herrera 618 Dpto A - Magdalena</li>
      </ul>

    </div>

  </div>

  <div class="item-footer desarrollado-por">

    Desarrollado por: <a href=www.webmas.pe>Webmas Perú</a>

  </div>
</footer>