<section class="nosotros">

  <!--PORTADA-->
  <div class="portada">

    <img src="../../assets/imagenes/nosotrosTitulo.png"/>
    <div class="titulo"><h1>ACERCA DE NOSOTROS</h1></div>

  </div>

  <!--ACERCA DE NOSOTROS-->
  <div class="acerca-nosotros" #acercaNosotros>

    <div class="texto" [@nosotrosTexto]="nosotrosTexto">
      <h4>ACERCA DE NOSOTROS</h4>
      <p>Webmas Perú es una empresa que brinda soluciones tecnológicas, contamos con amplia experiencia en el rubro de TI (Tecnologías de la Información) y un equipo totalmente capacitado para brindar el mejor servicio a nuestros clientes. Entre nuestros principales servicios podemos mencionar: Diseño y Desarrollo de Páginas Web, Gestión de Correos Corporativos, Dominio y Hosting para empresas de acuerdo a las necesidades de nuestros clientes, Desarrollo de Sistemas ERP a Medida, Consultoría Tecnológica y Soluciones de Infraestructura.</p>

    </div>

    <div class="imagen" [@nosotrosImagen]="nosotrosImagen">

      <img src="../../assets/imagenes/acercaDeNosotros.svg"/>

    </div>

  </div>

  <!--FRASE1-->
  <div class="frase frase1" #nosotrosFrase1 [@frase1]="frase1">
    <h1>SOLUCIONES TECNOLÓGICAS ACORDE A TUS NECESIDADES</h1>
  </div>

  <!--NUESTRA MISION-->
  <div class="mision" #mision>

    <div class="imagen" [@misionImagen]="misionImagen">

      <img src="../../assets/imagenes/mision.svg"/>
    
    </div>

    <div class="texto" [@misionTexto]="misionTexto">

      <h4>Nuestra Misión</h4>
      <p>Brindar soluciones tecnológicas para nuestros clientes que contribuyan a optimizar la eficiencia de los procesos de su empresa, aumentando sus ventas y el alcance de su mercado, implementando software de calidad para la reducción de costos y la automatización de procesos.</p>

    </div>

  </div>

  <!--FRASE 2-->
  <div class="frase frase2" #nosotrosFrase2 [@frase2]="frase2">
    <h1>EXPERIENCIA, BUENAS PRÁCTICAS Y CALIDAD DE SERVICIO</h1>
  </div>

  <!--NUESTRA VISION-->
  <div class="vision" #vision>

    <div class="texto" [@visionTexto]="visionTexto">

      <h4>Nuestra Visión</h4>
      <p>Ser la empresa líder en el mercado peruano en brindar servicios informáticos</p>

    </div>

    <div class="imagen" [@visionImagen]="visionImagen">

      <img src="../../assets/imagenes/vision.svg"/>

    </div>

  </div>

</section>