<section class="servicios">

  <div class="portada">

    <img src="../../assets/imagenes/serviciosTitulo.png"/>

    <h1 class="titulo">NUESTROS SERVICIOS</h1>

  </div>

  <!--SERVICIO WEB-->
  <div class="web" #serviciosWeb>

    <div class="texto" [@webTexto]="webTexto">

      <h4>DISEÑO Y DESARROLLO WEB</h4>
      <p>Hoy en día una página web es indispensable para cualquier tipo de negocio, ya que le da a tu empresa una presencia en internet y tu marca será vista por miles de clientes potenciales.

        <br><br>En Webmas, diseñamos y desarrollamos páginas web elegantes y profesionales, adaptables a cualquier tipo de dispositivo (responsive) como celular, tablet, laptop, PC, smart TV, etc. 
          
        <br><br>Desarrollamos páginas del tipo Single Page Application que no requieren recargar la página ante una interacción con el usuario.</p>

        <a routerLink="/contacto" class="contactanos">Contáctanos</a>

    </div>

    <div class="imagen" [@webImagen]="webImagen">

      <img src="../../assets/imagenes/web.svg"/>

    </div>

  </div>

  <!--FRASE1-->
  <div class="frase frase1" #serviciosFrase1 [@frase1]="frase1">
    <h1>SOLUCIONES TECNOLÓGICAS ACORDE A TUS NECESIDADES</h1>
  </div>

  <!--DESARROLLO DE SISTEMAS A MEDIDA-->
  <div class="erp" #serviciosErp>

    <div class="imagen" [@erpImagen]="erpImagen">

      <img src="../../assets/imagenes/erp.svg"/>
    
    </div>

    <div class="texto" [@erpTexto]="erpTexto">

      <h4>SISTEMAS A MEDIDA</h4>
      <p>Desarrollamos sistemas hechos a la medida de las necesidades de tu negocio, para que tengas control y puedas gestionar los recursos de tu empresa.
      <br><br>Desarrollamos módulos como:</p>
      <ul>
        <li>Almacenes</li>
        <li>Producción</li>
        <li>Sistemas de Matrículas</li>
        <li>Planillas</li>
        <li>Entre Otros</li>
      </ul>

      <a routerLink="/contacto" class="contactanos">Contáctanos</a>

    </div>

  </div>

  <!--FRASE 2-->
  <div class="frase frase2" #serviciosFrase2 [@frase2]="frase2">
    <h1>EXPERIENCIA, BUENAS PRÁCTICAS Y CALIDAD DE SERVICIO</h1>
  </div>

  <!--CORREO CORPORATIVO-->
  <div class="correo" #serviciosCorreo>

    <div class="texto" [@correoTexto]="correoTexto">

      <h4>CORREOS CORPORATIVOS</h4>
      <p>Brindamos el servicio de  Gestión de correos electrónicos corporativos, dándole una imagen de seriedad, confianza y profesionalismo a tu negocio, asimismo te damos el control sobre todas las cuentas de correo de tu empresa y con esto minimizas el riesgo de fuga y pérdida de información.</p>
      <a routerLink="/contacto" class="contactanos">Contáctanos</a>

    </div>

    <div class="imagen" [@correoImagen]="correoImagen">

      <img src="../../assets/imagenes/mail.svg"/>

    </div>

  </div>

  <!--FRASE 3-->
  <div class="frase frase3" #serviciosFrase3 [@frase3]="frase3">
    <h1>MINIMIZA LOS RIESGOS Y AUMENTA LA EFICIENCIA</h1>
  </div>

  <!--DOMINIO Y HOSTING-->
  <div class="hosting" #serviciosHosting [@hostingImagen]="hostingImagen">

    <div class="imagen">

      <img src="../../assets/imagenes/hosting.svg"/>

    </div>

    <div class="texto" [@hostingTexto]="hostingTexto">

      <h4>DOMINIO Y HOSTING</h4>
      <p>Brindamos el servicio de Dominio y Hosting para registrar en internet el nombre de tu empresa y almacenar tus correos corporativos, página web, recursos de tu empresa entre otros.

        <br><br>Hoy en día tener un contratado un servicio de dominio y hosting es indispensable para cualquier tipo de negocio ya que es el punto de partida para ingresar al mundo de internet.</p>
      <a routerLink="/contacto" class="contactanos">Contáctanos</a>

    </div>

  </div>

  <!--FRASE 4-->
  <div class="frase frase4" #serviciosFrase4 [@frase4]="frase4">
    <h1>AGILIDAD Y FLEXIBILIDAD PARA LOS PROCESOS DE TU EMPRESA</h1>
  </div>

  <!--INFRAESTRUCTURA-->
  <div class="infraestructura" #serviciosInfraestructura>

    <div class="texto" [@infraestructuraTexto]="infraestructuraTexto">
    
      <h4>INFRAESTRUCTURA TECNOLÓGICA</h4>
      <p>Gestionamos e implementamos soluciones para tu infraestructura tecnológica, entre las principales podemos mencionar:</p>
      <ul>
        <li>Copias de Seguridad</li>
        <li>Monitoreo de Infraestructura</li>
        <li>Virtualización de Aplicaciones y Servidores</li>
        <li>Administración de cuentas de dominio</li>
        <li>y más...</li>
      </ul>

      <a routerLink="/contacto" class="contactanos">Contáctanos</a>
    
    </div>
    
    <div class="imagen" [@infraestructuraImagen]="infraestructuraImagen">
    
      <img src="../../assets/imagenes/infraestructura.svg"/>
    
    </div>
    
  </div>

  <!--FRASE 5-->
  <div class="frase frase5" #serviciosFrase5 [@frase5]="frase5">
    <h1>TU ALIADO ESTRATÉGICO EN TECNOLOGÍA</h1>
  </div>
    
  <!--CONSULTORÍA EN TI-->
  <div class="consultoria" #serviciosConsultoria>
    
    <div class="imagen" [@consultoriaImagen]="consultoriaImagen">
    
      <img src="../../assets/imagenes/consultoria.svg"/>
    
    </div>
    
    <div class="texto" [@consultoriaTexto]="consultoriaTexto">
    
      <h4>CONSULTORÍA EN TI</h4>
      <p>Brindamos el servicio de consultoría en TI para que puedas enfocarte en el core de tu negocio, que el área de TI de tu empresa no sea un dolor de cabeza y conviértela en un aliado. Contáctanos.</p>
      <a routerLink="/contacto" class="contactanos">Contáctanos</a>

    </div>
    
  </div>

</section>